doctype html
html(lang='en')
  head
    if switchInfo
        title #{switchInfo.name} Resultat adresse mac
    else
        title Resultat adresse mac
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/static/css/index.css')
  body
    .main
        .container
            a(href='/') Accueil
            if switchInfo
                .alert.alert-success(role='alert')
                  h2.alert-heading Info switch
                  hr
                  p
                    | Nom : #{switchInfo.name.toUpperCase()}
                    br
                    br
                    | Modèle : #{switchInfo.product_model}
                    br
                    br
                    | MAC : #{switchInfo.base_ethernet_address.octets}
                    br
                    br
                    | Version du firmware : #{switchInfo .firmware_version}
                  hr
                  h4.alerte-heading Info vlans :
                  p #{vlansInfo}

                  hr
                  p.mb-0
                      strong #{nbConnectedDevices.length}&nbsp;
                      | ports actifs sur le switch =>&nbsp;
                      code
                        each item in nbConnectedDevices
                          el &nbsp;#{item}&nbsp;|
            else
                .alert.alert-info(role='alert')
                  strong #{nbConnectedDevices.length}&nbsp;
                  | ports actifs sur le switch =>&nbsp;
                  code
                      each item in nbConnectedDevices
                        el &nbsp;#{item}&nbsp;|

            .alert.alert-primary.alert-dismissible.fade.show(role='alert')
              | Tri par :&nbsp;
              strong #{sortedBy}
              button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') ×

            table.table.table-hover.table-dark
              thead
                tr
                  th(scope='col') Port
                  th(scope='col') Constructeur
                  th(scope='col') Adresse mac
                  th(scope='col') Vlan
              tbody
                  each item in list
                    if item.manufacturerInfo.noResolution
                      tr(style="background-color:#c0392b")
                        th(scope='row') #{item.port}
                        td #{item.manufacturerInfo.noResolution}
                        td #{item.macAddress}
                        td #{item.vlan}
                    else 
                      tr
                        th(scope='row') #{item.port}
                        td #{item.manufacturerInfo.manufacturer}
                        td #{item.macAddress}
                        td #{item.vlan}
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
              script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
              script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')


